html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav>li>a {
 color: black;
}

#warningMessage {
  position: absolute;
  margin-left: 1%;
  margin-top: 1%;
}

footer {
  min-height: 3%;
  margin-right: 5%;
  font-size: 1vw;
  font-weight: bold;
  font-family: monospace;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#myCarousel {
  margin-top: 7vw;
  margin-bottom: 7vw;
  width: 100%;
  min-height: 30vw;
 }

.item img {
  max-height: 30vw;
}

#page1 {
  background: url("../images/glasses.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.jumbotron {
  min-width: 70%;
  min-height: 50%;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 0px 0px #91b8b3;
	box-shadow: 0px 1px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f7ffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #f7ffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f7ffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f7ffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f7ffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f7ffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7ffff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #c8cccb;
	display:inline-block;
	cursor:pointer;
	color:#453d45;
	font-family:Arial;
	font-size:2vw;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cfe6e2;
  position: absolute;
  bottom: 25%;
  right: 13%;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7ffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f7ffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f7ffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f7ffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f7ffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f7ffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ffff', endColorstr='#ffffff',GradientType=0);
	background-color:#f7ffff;
}

#page5Background {
  background: url("../images/bannerpage5.jpg") no-repeat center center fixed;
  width: : 100%;
  color: white;
  text-align: center;
  font-size: 4vw;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Lobster', cursive;

}
#page5 img {
  width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#teamImages img {
  margin-left: 9%;
  margin-top: 4.5%
}

#page4 {
  height: 100%;
}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

  /*Page 2*/
  #page2jumbotron {
    padding-left: 5%;
    background-color: #b3ccff
  }

  #dropdownMenus {
    width: 100vw;
    height: 80vh;
    text-align: middle;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    background-color: #b3ccff;
    padding: 3% 10%;
  }

  #liquorChoice {
    display: block;
    text-align: center;
    margin: 2% auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .dropdown {
    height: 100px;
    width: 47%;
    font-size: 2vw;
    text-indent: 5%;
    background-color: #e6f3ff;
    font-family: Verdana, sans-serif;
  }

  .selectOption {

  }


  /*Page 4*/
  #youtubeResults {
    text-align: center;
  }

  .youtubeFrame {
    width: 40vw;
    height: 50vh;
  }
  .youtubeTitle {
    display: block;
    width: 40vw;
    text-align: center;
  }
}
