.name {
  text-align: center;
  font-size: 6vw;
  margin-top: 5%;
  margin-left: 4%;
  font-family: 'Lobster', cursive;
  z-index: 10;
  position: absolute;
  color: white;
}

.modal-body {
  text-align: center;
  font-size: 1.2vw;
  font-family: inherit;
  font-stretch: normal;
}
