
   <!-- handlebars Templetes -->
   {{#each drinks}}
 <div class="item">
    <img data-drinkid="{{idDrink}}" src={{strDrinkThumb}} class="center-block img-responsive">
    <p class ="carousel-caption">
      {{strDrink}}
    </p>
 </div>
  {{/each}}
